<form action="/export" method="post">
    <div class="image-div">
        <p>image</p>
        <input type="file" name="image" id="">
    </div>
    <div>
        <p>Title</p>
        <input type="text" class="title-input">
    </div>
    <div>
        <p>Body</p>
        <textarea name="" id="" cols="30" rows="10" class="txtA"></textarea>
    </div>
    <input type="submit" value="submit" class="submit">
</form>
