<form action="/login" method="post">
    <div class="form-control">
        <label for="">Username</label>
        <input type="text" name="username" id="">
    </div>
    <div class="form-control">
        <label for="">Password</label>
        <input type="password" name="password" id="">
    </div>
    <button type="submit">Login</button>
</form>