
<div class="form-body sign-body">
    <form action="/login" method="POST" class="content-form">
        <div>
            <p>Username:</p>
            <input type="text" class="text-input" name="username">
        </div>  
        <div>
            <p>Password:</p>
            <input type="password" class="text-input" name="password">
        </div>  
        <div class="unique">
            <input type="submit" value="Login" class="submit">
            <a href="/newStory">Share Story</a>
        </div>

        <p>Contact Admin for New Registeration and Authrization</p>
    </form>
    
</div>
