<form action="/signup" method="post">
    <input type="text" name="username" id="">
    <input type="text" name="name" id="">
    <input type="text" name="phone" id="">
    <input type="email" name="email" id="">
    <input type="password" name="password" id="">
    <button type="submit">Signup</button>
</form>