@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@100&display=swap');

:root{
    --bg-red: #fd1717;
    --color-gray: #C1C0C0;
}

body{
    font-family: 'Raleway', 'san-serif';
    margin:0;
    padding:0;
}
.container{
    width: 80%;
    margin:0 auto;
}
.btn{
    padding: 10px 40px;
    width: 132px;
    height:51px;
    background-color: var(--bg-red);
    border: none;
    color: white;
}
.btn:hover{
    opacity: 0.3;
}
.bdr{
    border-radius: 5px;
}
.form-group{
    padding: 14px 0;
    margin-left: 5px;
}
.flex{
    display:flex;
    flex-direction: row;
}
.story-txt{
    font-size: 20px;
    font-weight: bold;
    color: var(--bg-red);
}
.form-control{
    padding: 5px;
    font-size: 18px;
    border: solid black 1px;
    width: 300px;
    height:20px;
    margin-top: 5px;
    margin-right: 50px;
}
label{
    color: black;
}

@media screen and (max-width:767px) {
    .flex{
        flex-direction: column;
    }
}